<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>K-tech 업무 1218</title>
<style type="text/css">
table{
	border:1px solid #222222;
	border-collapse: collapse;
}
td, th{
	border: 1px solid #333333;
	padding: 10px;
}
.num {
	text-align:center;
}
</style>
</head>
<body>
<table>
	<colgroup>
		<col width="10%"/>
		<col width="60%"/>
		<col width="30%"/>
	</colgroup>
	<thead>
	<tr>
		<th>번호</th>
		<th>링크</th>
		<th>설명</th>
	</tr>
	</thead>
	<tbody>
		<tr th:each="work:${list}">
			<td class="num">
				<span th:text="${work.id}"></span>
			</td>
			<td>
				<a th:text="${work.title}" th:href="${work.link}" target="_blank"></a>
			</td>
			<td>
				<span th:text="${work.description}"></span>
			</td>
		</tr>
	</tbody>
</table>

<h3>JBNU instances</h3>
<ol>
	<li th:text="i-09beb1a08720fdc97"></li>
	<li th:text="i-09353da02702cd919"></li>
	<li th:text="i-0772391701db78309"></li>
	<li th:text="i-0c156e517c7e97d65"></li>
</ol>
</body>
</html>