<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BoardMapper">
	
	<insert id="insert" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO board 
		(
			title, 
			content
		) 
		VALUES 
		(
			#{title, jdbcType=VARCHAR}, 
			#{content, jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="selectAll" resultType="BoardVO">
		SELECT 
			id, title, content
		FROM board
	</select>
	<select id="select" resultType="BoardVO" parameterType="BoardVO">
		SELECT
			id,
			title,
			content,
			udate,
			wdate
		FROM 
			board 
		<where>
			<if test="@com.example.demo.util.CommonUtil@notEmpty(query)">
				title like '%${query}%'
				or
				content like '%${query}%'
			</if>
		</where>
		order by id desc
		LIMIT ${from}, ${pageSize}
	</select>
	
	<select id="selectOne" resultType="BoardVO" parameterType="BoardVO">
		SELECT
			id,
			title,
			content,
			wdate
		FROM 
			board 
		<where>
			id = #{id}
		</where>
	</select>
	
	<update id="update" parameterType="BoardVO">
		UPDATE board
		SET
			content = '${content}'
		where
			id = ${id}
	</update>
	
	<delete id="delete" parameterType="BoardVO">
		DELETE BOARD
		FROM
		<where>
			id = #{id}
		</where>
	</delete>
</mapper>
